PORT=4000
SQL_SERVER=localhost
SQL_DATABASE=AsistenciasDB
SQL_USER=sa
SQL_PASSWORD=TuPasswordSeguro123
SQL_ENCRYPT=false
JWT_SECRET=cambia-este-secreto
TOKEN_TTL_HOURS=8

# Configuración de Correo para recuperación de contraseña (Gmail)
GMAIL_USER=tu-correo@gmail.com
GMAIL_PASS=tu-contrasena-de-aplicacion-generada-por-google
FRONTEND_URL=http://localhost:5173
